<body class="checkout-page">
    
    <div class="container mt-3 mb-5  checkout-container">
        
            <div class="row">
                    <div class="checkouttop">
                         
                                    <img src="/static/images/logo.png" alt="Taxi Air" width="150">
                         
                           
                    </div>
<div class="col-lg-7 ">
    <div class="card mt-5 h-100">
            <div class="card-body checkoutcardleft">
                    <div class="title">Booking Details</div>
                    <div class="checkoutleftbody mt-4">
                            <div class="row">
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Name:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            Asad Masood
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Email:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            asadmchaudhry0@gmail.com
                                                    </div>
                                            </div>  
                                    </div>
                            </div>
                            <div class="row ">
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Pickup:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            Lahore
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Dropoff:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            Islamabad
                                                    </div>
                                            </div>  
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Car Type:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            Van
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-lg-6 mt-3">
                                            <div class="itemcheckout">
                                                    <div class="fieldcheckout">
                                                            Date & Time:
                                                    </div>
                                                    <div class="answerfieldcheckout">
                                                            13/10/2021 17:58
                                                    </div>
                                            </div>  
                                    </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 mt-3">
                                        <div class="itemcheckout">
                                                <div class="fieldcheckout">
                                                        Order ID:
                                                </div>
                                                <div class="answerfieldcheckout">
                                                        #100111
                                                </div>
                                        </div>
                                </div>
                                <div class="col-lg-6 mt-3">
                                        <div class="itemcheckout">
                                                <div class="fieldcheckout">
                                                        Amount Paid:
                                                </div>
                                                <div class="answerfieldcheckout">
                                                    € 16.51
                                                </div>
                                        </div>  
                                </div>
                        </div>
                           </div>
            </div>
          
    </div>
</div>

<div class="col-lg-5 ">
    <div class="card mt-5 mb-2 h-100">
            <div class="card-body checkoutcardright">
                    <div class="title">PAYMENT STATUS</div>
                  
                    <div class="contentrightside">
                            <div class="statuspayment">
                            <div class="headingright">
                                   <img src="/static/images/alert.gif" width="200" alt="">
                            </div>
                            <div class="paymentstatusdetails" {% if obj.is_local %} style="font-size: 16px;" {% endif %} >
                                    YOUR PAYMENT WAS UNSUCCESSFUL
                            </div>
                            <div class="screenshottext">
                                PLEASE TAKE A SCREENSHOT OF THIS SCREEN
                        </div>
                         </div>
                    </div>
                    <div class="buttoncontentrightside">
                            <a href="#" class="btn btn-lg btn-checkout" >Try Again</a>
                    </div>
            </div>
</div>

</div>          
            </div>
    </div>
</body>
